.button {
  @include hoverEffect;
  
  background-color: $primary-color;
  text-decoration: none;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  border: none;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  &:active {
    background-color: $primary-color;
  }
}